<h2 id="title">Variations on the colour orange</h2>

{{outlet}}

{{color-list-item color="#ffa500"}}
{{color-list-item color="#E59400"}}
{{color-list-item color="#b77600"}}
{{color-list-item color="#a06700"}}
{{color-list-item color="#895800"}}
{{color-list-item color="#724a00"}}